* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* > .slide {
  cursor: pointer;
}

.markdown {
  * > p {
    margin: 0;
  }
}
* > .react-datepicker-popper {
  z-index: 101 !important;
}

* > .image-gallery-thumbnail-image {
  max-height: 55px;
  object-fit: cover;
}
* > .image-gallery {
  width: 100%;
}

* > .rdrDefinedRangesWrapper {
  display: none;
}
/*

Exit Transition
showFront = true -> false
front -> back

Enter Transition
showFront = false -> true
back -> front

*/

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-enter-done {
  transform: rotateY(0deg);
}
